<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/playerdeets.css" type="text/css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <div class='player-deets'>
      <div class="profile-container">
        <% if(user){ %>
          <img class='profile-image' src="/images/placeholder.jpeg">
          <form method="POST" action="/api/users/logout">
            <button class='btn' type="submit">Log out</button>
          </form>
        </div>
        <% } else { %>
        <div class='user-buttons'>
          <form>
            <div class="row">
              <div class="input-field col s6">
                <input id="username" type="text" class="validate">
                <label class="active" for="username">First Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input value='username' id="password" type="password" class="validate">
                <label value='password' class="active" for="password">First Name</label>
              </div>
            </div>
            <a href="/login"><button class='btn' id='login' type="submit">Login</button></a>
            <a href="/register"><button class='btn' id='register' type="submit">Register</button></a>
          </form>
          <a href="/register"><button class='btn' type="submit">Play As Guest</button class='btn'></a>
        </div>
        <% } %>
      </div>
      </div>
    </body>
    <script>
      
      $(() => {
        
        const $login = $('#login');
        const $register = $('#register');
        const $username = $('#username'); 
        const $password = $('#password');

        let password;
        let username;

        $username.change(() => {
          username = $username.val()
        })

        $username.change(() => {
          password = $password.val()
        })

        $login.on('click', (e) => {
          e.preventDefault();
          $.ajax({
            method: "POST",
            url: "/api/users/login",
            data: {username, password}
          }).done((users) => {
            console.log(users)
          });  
        })

        $login.on('click', (e) => {
          e.preventDefault();
          $.ajax({
            method: "POST",
            url: "/api/users/register",
            data: {username, password}
          }).done((users) => {
            console.log(users)
          });  
        })

      });

    </script>