<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/playerdeets.css" type="text/css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <div class='player-deets'>
      <div class="profile-container">
        <div>
          <img class='profile-image' src="/images/placeholder.jpeg">
        </div>
        <div class='user-buttons'>
          <button class='btn'>
            Login
          </button>
          <button class='btn'>
            Register
          </button>
          <button class='btn'>
            Logout
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
