<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/playerdeets.css" type="text/css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <div class='player-deets'>
      <div class="profile-container">
        <div>
          <img class='profile-image' src="/images/placeholder.jpeg">
        </div>
        <div class='user-buttons'>
          <button class='btn'>
            Login
          </button>
          <button class='btn'>
            Register
          </button>
          <button class='btn'>
            Logout
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
<body>

  <!-- <% if(user){ %>
  <div class="img"><img src="../images/placeholder.jpeg"></div>
  <span>Username Placeholder</span>
  <form method="POST" action="/logout">
    <button type="submit">Log out</button></form>
  <% } else { %>
  <form method="POST" action="/api/users/register">
    <label for="username">Username</label>
    <input type="username" name="username" id="username" /><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" /><br>
    <a href="/login"><button type="submit">Login</button></a>
    <a href="/register"><button type="submit">Register</button></a>
  </form>
  <a href="/register"><button type="submit">Play As Guest</button></a>
  <% } %> -->
