<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/stats.css" type="text/css" /> -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/games/play.js"></script>
</head>

<body>
  <p>player 1 cards</p>
  <div class="player1-hand">
    
  </div>
  <p>player 2 cards</p>
  <div class="player2-hand">

  </div>

 
  <div>
    <textarea class="submit-card" name="text" placeholder="card number"></textarea>
    <textarea class="user_id" name="text" placeholder="user id"></textarea>
    <input class="submit-button" type="submit" value="submit">
  </div>
  <button type:"button" class="round-check">check roun</button>


  <div class="message">
    <div class="dealer-card">


    </div>
    <div class="winner">

    </div>
  </div>
</body>

</html>