div.main-container {
  width: 100%;
}

div.main-container div.content {
  display: flex;
  flex-direction: column;
}

.card {
  max-height: 10rem;
  margin: 4px;
}

div[class$=hand] {
  display: flex;
  flex-wrap: wrap;
}

div[class$=hand] img {
  cursor: pointer;
}
