html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* remove extra space below image */
}

body {
  display: flex;
  flex-direction: row;
}

.main-container {
  height: 100vh;
  width: 75%;
  background-color: #bbe1fa;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-image: url("/images/asfalt-dark.png");
}

.content {
  margin-top: 64px;
  display: flex;
  width: calc(100% - 12em);
  height: calc(100% - 64px);
  justify-content: center;
  flex-direction: row;
  margin-left: 6em;
  margin-right: 6em;
}

.player-deets {
  margin-top: 64px;
  width: 25%;
  height: calc(100vh - 64px);
}

.list-games {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 500px);
  grid-template-columns: repeat(1, 100%);
  justify-content: center;
  grid-gap: 4rem;
}

.game {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid black;
}

.game-info {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
}

.game-img {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 150px;
  background-image: url("/images/placeholder.jpeg");
  background-size: 212px;
  background-position: 50%;
}

.list-rooms {
  padding: 1em;
  display: none;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.mt1em {
  margin-top: 1em;
}

.ml1em {
  margin-top: 1em;
}

.less-margins {
  margin: 5px;
}

.lobby-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.lobby-buttons button {
  width: 100px;
}
