img {
  max-width: 100%;
  max-height: 100%;
}

.player-deets {
  background-color: #464866;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  display: absolute;
}

.sign {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.sign-buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#login, #register, #guest {
  width: 70%;
  margin: auto;
  margin-bottom: 1em;
}
