div.main-container {
  div.content {
    display: block;
  }
}

img.card {
  max-height: 10rem;
  margin: 4px;
}

div[class$=hand]{
  display: flex;
  flex-wrap: wrap;

  img {
    cursor: pointer;
  }
}
