// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  nav {
    width: 100vw;
    height: 15vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
  }

  aside {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 25vh;
    padding: 3px;
  }

  main {
    width: 70vw;
    padding-left: 5vw;
  }
}

div.img {
  display: flex;
  justify-content: center;

  img {
  max-width: 100%;
   max-height: 100%;
 }
}
